#tittle {
  text-align: center;
}

#board {
  text-align: center;
}

#settings {
  text-align: left;
}

#gameboard {
  border-style: outset;
  border-radius: 7%;
  border-color: lightsteelblue;
  background-color: royalblue;
  display: inline-block;
}

.invisible {
  visibility: hidden !important;
}

.row {
  margin: 8px 0 8px 0;
}

.cell {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: white;
  border-style: inset;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}

.cell.empty {
  border-style: inset;
  border-color: lightsteelblue;
  cursor: pointer;
}

.future-red {
  background-color: rgba(255, 0, 0, 0.5);
}

.future-yellow {
  background-color: rgba(255, 255, 0, 0.6);
}

.cell.red {
  background-color: red;
}

.cell.yellow {
  background-color: yellow;
}

@media (max-width: 1400px) {
  .cell {
    width: 70px;
    height: 70px;
    margin: 0 8px 0 8px;
  }
}

@media (max-width: 991px) {
  .cell {
    width: 95px;
    height: 95px;
    margin: 0 9.5px 0 9.5px;
  }
}

@media (max-width: 900px) {
  .cell {
    width: 90px;
    height: 90px;
    margin: 0 9.5px 0 9.5px;
  }
}

@media (max-width: 825px) {
  .cell {
    width: 85px;
    height: 85px;
    margin: 0 8.5px 0 8.5px;
  }
}

@media (max-width: 770px) {
  .cell {
    width: 80px;
    height: 80px;
    margin: 0 8px 0 8px;
  }
}

@media (max-width: 730px) {
  .cell {
    width: 75px;
    height: 75px;
    margin: 0 7.5px 0 7.5px;
  }
}

@media (max-width: 690px) {
  .cell {
    width: 70px;
    height: 70px;
    margin: 0 7px 0 7px;
  }
}

@media (max-width: 650px) {
  .cell {
    width: 60px;
    height: 60px;
    margin: 0 6px 0 6px;
  }
}

@media (max-width: 570px) {
  .cell {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
  }
}